# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build files
frontend/build/
frontend/.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
.cache/
.temp/

# MongoDB data
data/
*.lock
